/* TODO: Put your CSS code in here */

.input {
  width: 260px;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
}

.btn-input {
  width: 130px;
  height: 50px;
  font-size: 18px;
}

.wrapper-blue {
  background-color: #2C3E50;
  height:60vh;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
}

.padded {
  padding-top: 30px;
}

.form-control {
  font-weight: lighter;
}

.coordonnates {
  font-size: 20px;
  color: white;
}
